<div class="member-wrapper" ng-show="$ctrl.page.members">
  <div class="flexer height100">
    <div class="left-side height100">
      <div class="flexer width-90">
        <div class="half padme-5">
          <search user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></search>
        </div>
        <div class="half padme-5">
          <feature-me user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></feature-me>
        </div>
      </div>
      <div class="form-wrapper" ng-show="!$ctrl.global.madeSearch">
        <sound-form user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></sound-form>
      </div>
    </div>
    <div class="right-side-bar height100">
      <member-side-bar user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></member-side-bar>
    </div>
  </div>
</div>
