<div class="admin-wrapper" ng-show="$ctrl.page.admin">
  <div class="dampener-red">
    <adm-data-usage user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></adm-data-usage>
    <adm-search-urls user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></adm-search-urls>
    <adm-search-sounds user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></adm-search-sounds>

  </div>



  <!-- <div class="test-route">
    <input type="text" name="" value="" ng-model="$ctrl.author">
    <div class="btn btn-warning" ng-click="$ctrl.searchByAuthor()">
      <p>Search by author</p>
    </div>
  </div> -->

  <!-- <div class="test-route">
    <input type="text" name="" value="" ng-model="$ctrl.genre">
    <div class="btn btn-warning" ng-click="$ctrl.searchByGenre()">
      <p>Search by genre</p>
    </div>
  </div>

  <div class="test-route">
    <input type="text" name="" value="" ng-model="$ctrl.name">
    <div class="btn btn-warning" ng-click="$ctrl.searchByName()">
      <p>Search by name</p>
    </div>
  </div> -->

</div>
