<div class="admin-wrapper" ng-show="$ctrl.page.admin">

  <adm-data-usage user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></adm-data-usage>
  <adm-search-urls user="$ctrl.user" page="$ctrl.page" global="$ctrl.global"></adm-search-urls>


  <!-- <div class="member-data">
    <div class="btn btn-info">
      <h5>Data per user</h5>
    </div>
    <div class="" ng-repeat="member in $ctrl.members">
      <div class="flexer">
        <div class="member-id">
          <h5>{{member.id}}</h5>
        </div>
        <div class="member-email">
          <h5>{{member.email}}</h5>
        </div>
        <div class="member-bytes">
          <h5>IDKWTF</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="btn btn-info" ng-click="$ctrl.getUrls()">
    <div class="urls-for-featuring">
      <form class="" action="index.html" method="post">
        <label for="featured"></label>
        <input type="radio" name="" value="" id="featured">
        <label for="not-featured"></label>
        <input type="radio" name="" value="" id="not-featured">
        <label for="all-urls"></label>
        <input type="radio" name="" value="" id="all-urls">
        <input type="submit" name="" value="" ng-click="$ctrl.getDataPerUser()">
      </form>
    </div>
    <h4>Get URLs</h4>
  </div>

  <div class="featured-url-wrapper">
    <div class="url in $ctrl.urls">
      <h5>{{url.name}}</h5>
      <input type="checkox" name="" value="">
    </div>
  </div>

  <div class="sound in $ctrl.sounds">
    <div class="flexer">
      <sound></sound>
    </div>
    <div class="radio">
      <input type="checkbox" name="" value="">
      <input type="checkbox" name="" value="">
    </div>
  </div> -->

</div>
