<div class="api-page-wrapper no-over" ng-show="$ctrl.page.api">
  <div class="dampener">
    <div class="flexer">
      <div class="api-info">

        <h2>It's so easy to use the EarByter API!</h2>
        <h3>BASIC SEARCH</h3>
        <p>EarByter's API will return an array of urls. These Urls point to sounds in a sound database. A typical API call would look like:</p>
        <p class="code"><b>https://earbyter.herokuapp.com/api/sounds</b></p>
        <p>and a developer can expect a result of the latest 100 sounds in JSON looking like:</p>
        <p class="code">
          [<br>
            {<br>
              "id": 1,<br>
              "name": "motorcycle",<br>
              "description": "annaying AF",<br>
              "keyword": "road-rage",<br>
              "public": true,<br>
              "isFeatured": false,<br>
              "url": "https://s3-us-west-2.amazonaws.com/earbyter-1/motorcycle1.m4a",<br>
              "mem_size": 393387,<br>
              "member_id": 3<br>
            },<br>
            {<br>
              "id": 2,<br>
              "name": null,<br>
              "description": "a train honks",<br>
              "keyword": "annoying",<br>
              "public": true,<br>
              "isFeatured": false,<br>
              "url": "https://earbyter-1.s3.amazonaws.com/trainhorn1.m4a",<br>
              "mem_size": 198953,<br>
              "member_id": 3<br>
            },<br>
            {<br>
              "id": 13,<br>
              "name": "Denied",<br>
              "description": "Dillon wont sing",<br>
              "keyword": "music",<br>
              "public": true,<br>
              "isFeatured": false,<br>
              "url": "https://earbyter-1.s3.amazonaws.com/test1.m4a",<br>
              "mem_size": 304138,<br>
              "member_id": 3<br>
            }<br>
          ]<br>
        </p>
        <h3>SEARCH CRITERIA</h3>
        <p>There are 3 criteria from which a developer may search: name, genre and author. With a <em>name</em> search the first items matched are exact matches, the second are items that have a name "like" the input criteria. The third level of matches are "like" matches from the genre field.</p>
        <p>A search for a particular name would look like:</p>
        <p class="code"><b>https://earbyter.herokuapp.com/api/sounds?name=YOUR_NAME_HERE</b></p>
        <br>
        <p>A search for the <em>genre</em> is much like a search for <em>name</em> except that the genre is given first priority. A search for a particular genre would look like:</p>
        <p class="code"><b>www.earbyter.com/api/sounds?genre=YOUR_GENRE_HERE</b></p>
        <br>
        <p>An <em>author</em> search will return exact matches first and "like" matches second. A search for a particular author would look like:</p>
        <p class="code"><b>https://earbyter.herokuapp.com/api/sounds?author=AUTHOR_HERE</b></p>

        <h3>HOW TO USE THIS IN YOUR APP</h3>
        <p>A basic way to get a sound to play would be adding the URL into a source tag for an audio file like so: </p>
        <br>
        <p class="code">{{$ctrl.htmlStr1}}</p>
        <p class="code2">{{$ctrl.htmlStr2}}</p>
        <p class="code">{{$ctrl.htmlStr3}}</p>
        <br>
        <p>...where the aoundArray is the array of objects returned from the API. Each sound will have either an 'id' property or a 'sound_id' property which can be targeted for uniqueness.</p>
        <p>Once an element has a unique id it may be targeted with an event listener to play like so:</p>
        <br>
        <p class="code">var audio = document.getElementById(some_id);</p>
        <p class="code">audio.play();</p>
      </div>
      <div class="api-sidebar">
        <h3>Featured Sites</h3>
        <div class="img-container">
          <img src="../../images/featured.jpeg" alt="">
        </div>
        <p>Developers, have you made a site that uses Earbyter? Would you like us to feature your site?</p>
        <p>Members may submit sites as candidates for featuring. To have your site considered become a member by signing up and submit your site's URL.</p>
      </div>
    </div>
  </div>
</div>
