<div class="no-margin flexer sound-wrapper">
  <div class="sound-box relative" ng-dblclick="$ctrl.play($ctrl.sound)"
      ng-click="$ctrl.copy($ctrl.sound)"
      ng-mouseover="$ctrl.showTrue()"
      ng-mouseleave="$ctrl.showFalse()">
      <div class="absolute z100000 sound-message-wrapper" ng-show="$ctrl.showMessages">
        <p class="no-margin text-center">Click to copy!</p>
        <p class="no-margin text-center">Double click to play!</p>
      </div>
    <div class="no-over">
      <h5 class="sound-title text-center">{{$ctrl.sound.name}}</h5>
    </div>
    <audio ng-show="" id="sound-{{$ctrl.sound.id}}">
      <source src="{{$ctrl.sound.url}}"  type="audio/mpeg">
    </audio>
  </div>
  <div class="copy-container" ng-click="$ctrl.copy($ctrl.sound)">
    <textarea ng-show="true" class="copy-textarea" id="copy-{{$ctrl.sound.id}}">{{$ctrl.sound.url}}</textarea>
  </div>
</div>
