<div class="sound-form-wrapper container col-xs-12">
  <div class="add-sound">
    <form novalidate class="sound-form" name="$ctrl.sounder"
    ng-submit="$ctrl.putSound()">

      <div class="flexer">
        <div class="form-group half">
          <label>Select a file!</label>
          <input type="file" id="file-input"
            ng-model="$ctrl.sound.myFileName">
        </div>

        <div class="form-group half">
          <label for="sound-name">Name your Sound</label>
          <input required id="sound-name" type="text"
                class="form-control"
                ng-model="$ctrl.sound.name"
                name="sound-name">
        </div>
      </div>

      <div class="form-group">
        <label for="description">Description</label>
        <input required id="description" type="textarea"
              class="form-control"
              ng-model="$ctrl.sound.description"
              name="description">
      </div>

      <div class="flexer">
        <div class="form-group two-thirds">
          <label for="keyword">Genre</label>
          <input required id="keyword" type="text"
                class="form-control"
                ng-model="$ctrl.sound.keyword"
                name="key-word-1">
        </div>

        <!-- <div class="flexer pad-top-1em">
          <div class="form-group half">
            <label for="public">Public</label>
            <input id="public" type="radio"
                  class="form-control"
                  ng-model="$ctrl.sound.public"
                  name="public">
          </div>
        </div> -->
        <div class="btn btn-info third sound-submit-btn-div">
          <input type="submit" id="sound-submit" ng-show="true"
              class="btn btn-info sound-submit-btn-div"
              value="Submit">
        </div>

      </div>
    </form>
  </div>
</div>
