<div class="search-wrapper margin-0">
  <h5 class="transparent whats-this-poke">Whats this?</h5>
  <form ng-submit="$ctrl.doSearch()">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search" ng-model="$ctrl.searchTerm">
      <button type="submit" class="btn btn-default" ng-show="false">Submit</button>
    </div>
  </form>
  <div class="" ng-show="$ctrl.global.madeSearch">
    <div class="">
      <div class="" ng-repeat="sound in $ctrl.sounds">

        <my-sound user="$ctrl.user" page="$ctrl.page" global="$ctrl.global" sound="sound"></my-sound>

      </div>
    </div>
  </div>

</div>
